<!DOCTYPE html>
<html>
<head
>	<style>
	.edison{
		background-color: linen;
		color: pink;
		font-size: 40px;
	}
	h1{
		color: maroon;
		margin-left: 40px;
	}
</style>
</head>
<body>
	<h1>This is a heading</h1>
	<p>This is paragraph</p>
</body>
</html>