p1 {
	color: black;
	font-size: 15px;
	margin-left: 200px;	
}

ul{
	margin-left: 200px;
}

div{
	background-color: lightgrey;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}

body{
	background-color: #D0E5F9;
}

x{
	color: red;
	font-size: 20px
}